body {
  box-sizing: border-box;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 11px 0 11px;
}
/* я тут напутала с margin и контейнер не по центру */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner-logo {
  display: inline-flex;
}

.header__logo-logo {
  width: 160px;
  height: 100px;   
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
}

.menu__item + menu__item {
  padding-left: 10px;
}
.menu__link {
  font-style: normal;
  text-transform: uppercase;
  color: #131313;
  padding: 43px 20px;
  transition: all 0.2s;
}

.menu__link:hover {
  background-color: #131313;
  color: #FFFFFF;
}

.bike {
  padding: 100px 0 0;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
  
}

.bike__colum-slider {
  flex-basis: 630px;
  max-width: 630px;
}

.bike__title {
  margin: 60px 0 5px;  
  font-weight: 700;
  font-size: 64px;
  line-height: 77px; 
  
}

.bike__subtitle {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6F6F6F;
}

.bike__text {
  width: 420px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #131313;
}

.bike__link {
  margin-top: 80px;
  padding-left: 95px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  background-color: #131313;
  color: #FFFFFF;
}

.bike__link:hover {
  background-color: #FF4040;
}

.slick-slider {
  display: flex; 
}

.bike__slider .slick-dots {
  padding-right: 0;
  padding-top: 52px;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  width: 4px;
  height: 25px;
  border-radius: 7px;
  background-color: #131313;
  cursor: pointer;
  transition: all 0.2s;
}

.slick-active button {
  background-color: #FF4040;
} 

.bike__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 25px;  
}

.bike__list-item {
  min-width: 160px;
  min-height: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bike__list-num {
  font-weight: 700;
  text-transform: uppercase;
  color: #131313;
}

.bike__list-text {
  margin: auto 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: #131313;
}

.specification {
  padding-top: 150px;
  margin-bottom: 110px;
}

.specification__inner {
  display: flex;
}

.specification__img {
  object-fit: cover;
  height: 950px;
  margin-right: 65px;
  flex-basis: 570px;
}
.specification__list {
  flex-basis: 490px;
}

.specification__item + .specification__item {
  padding-top: 50px;
}

.specification__item-title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #131313;
}

.specification__item-text {
  max-width: 460px;
  font-weight: 400;
  line-height: 17px;  
  color: #131313;  
}

.description {
  margin: 0 0 150px;
}

.description__title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #131313;
}

.description__inner {
  display: flex;
}

.description__items {
  flex-basis: 570px;
  margin-right: 60px;
}

.description__list  + .description__list {
  padding-top: 30px;
}

.description__subtitle {
  width: 656px;
  padding: 2px 0 3px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  background-color: #131313;
  color: #FFFFFF;
}

.description__property {
  display: flex;
  padding-top: 5px;
}

.description__name,
.description__descr {
  flex-basis: 285px;
}

.description__img {
  align-self: center;
}

.slider {
  margin-bottom: 50px;
}

.slider__items .slick-dots {
  position: absolute;
}

.slider__item {
  padding-left: 50px;
}

.price {
  margin-bottom: 100px;
}

.price__inner {
  position: relative;
}

.price__form {
  max-width: 420px;
}

.price__titel {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.price__text {
  width: 300px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 17px;
}

.price__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}


.price__input::placeholder,
.label__text {
  font-weight: 400;
  line-height: 17px;
  color: #6F6F6F;
  opacity: 0.5;
}

.price__label-box{
  display: flex;
  margin-top: 10px;
  margin-bottom: 50px;
}

.price__input-radio {
  display: none;
}

.price__label-button {
  width: 80px;
  height: 12px;
  margin-right: 23px;
  border-radius: 30px;
}

.price__label-black {
  background-color:  #6F6F6F;
}

.price__label-white {
  background: #FFFFFF;
  border: 1px solid #6F6F6F;
}

.price__label-red {
  background: #FF4040;
}

.price__btn {
  width: 420px;
  height: 80px;
  background-color: #131313;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #131313;
  cursor: pointer;
  margin-bottom: 100px;
}

.price__btn:hover {
  background-color: #FF4040;
}

.price__bike {
  display: none;
  position: absolute;
  left: 510px;
  top: 40px;
}

.price__input-radio:checked + .price__bike {
  display: block;
}
.footer {
  background-color: #131313;
}

.footer__inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link,
.footer__contacts {
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: #FFFFFF;
}

.footer__sociial-link + .footer__sociial-link {
  margin-left: 28px;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
}

.footer__contacts-link + .footer__contacts-link {
  margin-top: 10px;
}

.footer__contacts-img {
  margin-right: 10px;
}
/* 
@media (max-width: 768px) {
  
  .menu {
    margin-right: 0px;  
  }

  .bike {
    padding: 0;
  }
  .bike__inner {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }

  .bike__text {
    width: 100%;
  }

  .bike__link {
    margin: 30px 150px;
  }

  .bike__colum {
    margin-bottom: 30px;
  }

  .bike__colum-slider {
    max-width: 100%;
  }
  
  .specification {
    padding-top: 50px;
  }

  .specification__item + .specification__item {
    padding-top: 25px;
  }

  .specification__img {
    display: none;
  }

  .specification__list {
    flex-basis: 100%;
  }

  .specification__item-text {
    max-width: 100%; 
  }

  
} */

